<%- include('./blocks/head.ejs')%>
<%- include('./blocks/navbar.ejs')%>
<div class="container">
    <div class="errors">
        <h1 class="errors__title">
            Страница не найдена (
        </h1>
        <div class="errors__msg">
            <a href="/">Вернуться на главную</a>
        </div>
        

    </div>
</div>
<%- include('./blocks/footer.ejs')%>