<%- include('./blocks/head.ejs')%>
<%- include('./blocks/navbar.ejs')%>
<div class="dev" style="text-align: center; margin-top: 100px; color: #4b85e3;">
    <h1>Главная страница</h1>
    <br>
    <!-- <h2>Тема: Разработка сайта для подготовки к тестовым экзаменам </h2>
    <br>
    <span style="font-size: 23px;">Руководитель: Кенжебаева У.</span>
    <br>
    <span style="font-size: 23px;">Выполнил: Абусев Р.</span> -->
</div>
<%- include('./blocks/footer.ejs')%>