<div class="footer">
    
</div>
<%
    if((typeof addJs) != 'undefined')
    {
        %>
            <script  src="../../js/app.js"></script>

        <%
    } 
%>

<%
    if((typeof addJsDefault) != 'undefined')
    {
        %>
            <script  src="js/app.js"></script>
        <%
    } 
%>

</body>
</html>